<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>CURRICULUM</title>
   <meta name="author" content="name">
   <meta name="description" content="description here">
   <meta name="keywords" content="keywords,here">
   <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
   <!--Replace with your tailwind.css once created-->
   <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
   <!--Totally optional :) -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body class="font-sans leading-normal tracking-normal ">
   <div class="flex md:flex-row-reverse flex-wrap">
      <!--Main Content-->
      <div class="w-full md:w-5/6 bg-gray-100" style="background-image:url('{% static 'img/codigosfuentes.jpg' %}');">
         <div class="container pt-5 px-10">
            <div class="container-fluid p-0">
               <!-- About-->
               <section class="resume-section" id="about">
                  <div class="resume-section-content">
                     <!-- This example requires Tailwind CSS v2.0+ -->
                     <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                        <div class="px-4 py-5 sm:px-6">
                           <h3 class="text-lg leading-6 font-medium text-gray-900">ABOUT</h3>
                           <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion Pesonal</p>
                        </div>
                        <div class="border-t border-gray-200">
                           <dl>
                              <div class="bg- px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Nombre</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    Arango Lucar David
                                    Patricio
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Educacion</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">•
                                    Ingeniero de sistemas
                                    <p> • desarrollador web <p>• desarrollador de aplicaciones</dd>
                              </div>
                              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Email</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    davidarangolucar@gmail.com
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Telegram</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    @Chon94</dd>
                              </div>
                              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Telefono</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    • +51 901 810 185<p> • +51 927 069 816
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Archivos</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <ul role="list" class="border border-gray-200 rounded-md divide-y divide-gray-200">
                                       <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                          <div class="w-0 flex-1 flex items-center">
                                             <!-- Heroicon name: solid/paper-clip -->
                                             <svg class="flex-shrink-0 h-5 w-5 text-gray-400"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                   d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                                   clip-rule="evenodd" />
                                             </svg>
                                             <span class="ml-2 flex-1 w-0 truncate"> VACIO </span>
                                          </div>
                                          <div class="ml-4 flex-shrink-0">
                                             <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                                Download </a>
                                          </div>
                                       </li>
                                       <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                          <div class="w-0 flex-1 flex items-center">
                                             <!-- Heroicon name: solid/paper-clip -->
                                             <svg class="flex-shrink-0 h-5 w-5 text-gray-400"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                   d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                                   clip-rule="evenodd" />
                                             </svg>
                                             <span class="ml-2 flex-1 w-0 truncate"> VACIO </span>
                                          </div>
                                          <div class="ml-4 flex-shrink-0">
                                             <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                                Download </a>
                                          </div>
                                       </li>
                                       <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                          <div class="w-0 flex-1 flex items-center">
                                             <!-- Heroicon name: solid/paper-clip -->
                                             <svg class="flex-shrink-0 h-5 w-5 text-gray-400"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                   d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                                   clip-rule="evenodd" />
                                             </svg>
                                             <span class="ml-2 flex-1 w-0 truncate"> VACIO </span>
                                          </div>
                                          <div class="ml-4 flex-shrink-0">
                                             <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                                Download </a>
                                          </div>
                                       </li>
                                    </ul>
                                 </dd>
                              </div>
                           </dl>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- Experience-->
               <section class="resume-section" id="experiencia">
                  <div class="resume-section-content">
                     <!-- This example requires Tailwind CSS v2.0+ -->
                     <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                        <div class="px-4 py-5 sm:px-6">
                           <h3 class="text-lg leading-6 font-medium text-gray-900">Experiencia</h3>
                           <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion Laboral</p>
                        </div>
                        <div class="border-t border-gray-200">
                           <dl>
                              <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">desarrollador</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">•
                                    Desarrollador de
                                    aplicaciones java 2018 <p>• Desarrollador web con larabel 2021
                                       <p>• Desarrollador
                                          Python 2021 <p>• Desarrollador web con django 2022</dd>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">constructora</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> •
                                    Manejo de información
                                    de obras de arte en carreteras(ingeniería civil)2019 <p>
                                       • Clasificacion de obras de arte en carreteras(ingeniería
                                       civil) 2019 <p>
                                          • Consultoría de proyectos</dd>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                              </div>
                              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Educacion</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> •
                                    Profesor de Reparación
                                    Física y Lógica de Computadoras 2016 <p>
                                       <p>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta parte<p>trans <p>parent<p>e<p>.
                                 </dd>
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-transparent">okey esto solo esta transparente en la
                                    vista todos lo sabemos</dt>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta parte sera<p>otra mas <p>otra mas<p>otra mas<p>otra mas
                                 </dd>
                              </div>
                        </div>
                        <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                           <dt class="text-sm font-medium text-gray-500"></dt>
                           <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                           </dd>
                        </div>
                        </dl>
                     </div>
                  </div>
               </section>
               <!-- Education-->
               <section class="resume-section" id="educacion">
                  <div class="resume-section-content">
                     <!-- This example requires Tailwind CSS v2.0+ -->
                     <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                        <div class="px-4 py-5 sm:px-6">
                           <h3 class="text-lg leading-6 font-medium text-gray-900">EDUCACION</h3>
                           <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion de Formacion
                           </p>
                        </div>
                        <div class="border-t border-gray-200">
                           <dl>
                              <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Universidad</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">ULADECH
                                    Universidad Los
                                    Angeles De Chimbote
                                    <p>
                                       Ingenieria de Sistemas
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Capacitacion</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">MINPE
                                    <p>
                                       • Curso especializado de python<p>
                                          • Curso de SIGA,DIAF Y SEACE<p>
                                             <p>
                                                <div class="mt-2 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                   SENATI <p>
                                                      • Reparacion Fisica y Logica de Computadoras<p>
                                                </div>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    esta partetrans <p>parente.
                                 </dd>
                                 </dd>
                              </div>
                           </dl>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- habilidades -->
               <section class="resume-section" id="habilidades">
                  <div class="resume-section-content">
                     <!-- This example requires Tailwind CSS v2.0+ -->
                     <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                        <div class="px-4 py-5 sm:px-6">
                           <h3 class="text-lg leading-6 font-medium text-gray-900">Habilidades</h3>
                           <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion de Habilidades
                           </p>
                        </div>
                        <div class="border-t border-gray-200">
                           <dl>
                              <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Lenguajes de
                                    Programacion</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">• Java
                                    <p>• Python<p>• Cobol<p>• PHP<p>• HTML<p>• .NET<p>• Kotlin<p> • SQL<p>
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">framework</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    • Bootstrap<p>• Tailwind<p>• Django<p>• Laravel<p>
                                 </dd>
                              </div>
                              <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Sistema de Gestion de
                                    Bases de Datos</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    • MySql <p>• PostgreSQL<p> • PL SQL<p>• Microsoft SQL Server<p>
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Otras habilidades</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">•Android Studio<p>
                                    • Libre Ofice<p> • Microsft Ofice<p>• Laragon<p>• xampp<p> • Bizagui<p> • UML<p>
                                    • Data Manage<p>
                                 </dd>
                              </div>
                        </div>
                        </dl>
                     </div>
                  </div>
               </section>
               <!-- Interests-->
               <section class="resume-section" id="intereses">
                  <div class="resume-section-content">
                     <!-- This example requires Tailwind CSS v2.0+ -->
                     <div class="bg-white shadow overflow-hidden sm:rounded-lg opacity-50">
                        <div class="px-4 py-5 sm:px-6">
                           <h3 class="text-lg leading-6 font-medium text-gray-900">Intereses</h3>
                           <p class="mt-1 max-w-2xl text-sm text-gray-500">Informacion Basica</p>
                        </div>
                        <div class="border-t border-gray-200">
                           <dl>
                              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Informatica?</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">Una manera de pasar tiempo
                                    que la aplico casi a diario es buscar informacion sobre algun lengueaje o framework
                                    de hecho con ese tiempo elavore este sitio web don Django y tailwind.css
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    Chon94
                                 </dd>
                                 </dd>
                              </div>
                              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Deportes</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">Me encanta la actividad
                                    fisica y practico la calistenia
                                    tambien el conocido street workout practicandolo unas 5 - 6 veces a la semana ademas
                                    tambien me gusta dar caminatas por bosques y lugares rurales y urbanos he llegado
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    Chon94
                                 </dd>
                                 </dd>
                              </div>
                              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Musica</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">Disfruto tambien de
                                    escuchar
                                    buena musica de un genero variado
                                    por cierto hya un canal que me encanta se llama Shibby Picturesun buen lugar donde
                                    suben musica chevere casi siempre trato de
                                    escuchar algo nuevo
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    Chon94
                                 </dd>
                                 </dd>
                              </div>

                              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                 <dt class="text-sm font-medium text-gray-500">Videojuegos</dt>
                                 <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">Como muchas personas soy
                                    alguien que disfruta los Videojuegos
                                    los juego desde antes de tener uso de razon pero debo de admitir que este pasatiempo
                                    es
                                    solo por temporadas ya que puede haber
                                    un gran tiempo en los que no juegue Videojuegos
                                 <dd class="mt-1 text-sm text-transparent sm:mt-0 sm:col-span-2">
                                    Chon94
                                 </dd>
                                 </dd>
                              </div>

                           </dl>
                        </div>
                     </div>
                  </div>
               </section>

               <!--Sidebar-->
               <div
                  class=" md:w-1/6 bg-red-900 md:bg-green-800 px-2 text-center fixed bottom-0 md:pt-8 md:top-0 md:left-0 h-0 md:h-screen md:border-r-4 md:border-gray-600">
                  <div class="md:relative mx-auto lg:float-right lg:px-">
                     <ul class="list-reset flex flex-row md:flex-col text-center md:text-left">
                        
                        <img class="w-20 h-20 rounded" src="{% static 'img/c9.jpg' %}" alt="Large avatar">
                        
                        <li class="mr-3 flex-1">
                           <a href="#about"
                              class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                              <i class="fas fa-link pr-0 md:pr-3"></i><span
                                 class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">About</span>
                           </a>
                        </li>
                        
                        <li class="mr-3 flex-1">
                           <a href="#experiencia"
                              class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                              <i class="fas fa-link pr-0 md:pr-3"></i><span
                                 class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Experiencia</span>
                           </a>
                        </li>
                        
                        <li class="mr-3 flex-1">
                           <a href="#educacion"
                              class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                              <i class="fas fa-link pr-0 md:pr-3"></i><span
                                 class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Educacion</span>
                           </a>
                        </li>
                        
                        <li class="mr-3 flex-1">
                           <a href="#habilidades"
                              class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                              <i class="fas fa-link pr-0 md:pr-3"></i><span
                                 class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">habilidades</span>
                           </a>
                        </li>
                        
                        <li class="mr-3 flex-1">
                           <a href="#intereses"
                              class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                              <i class="fas fa-link pr-0 md:pr-3"></i><span
                                 class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Intereses</span>
                           </a>
                        </li>
                        
                        <li class="mr-3 flex-1">
                           <a href="{% url 'home' %}"
                              class="block py-1 md:py-3 pl-1 align-middle text-dark no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">
                              <i class="fas fa-link pr-0 md:pr-3"></i><span
                                 class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Volver</span>
                           </a>
                        </li>


                        <!-- Pin to top right corner -->
                        <div class="absolute top-0 right-0 h-12 w-18 p-4">
                           <button class="js-change-theme focus:outline-none">🌙</button>
                           </div>
                     
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div> 
   </div>
   <!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
   <script>
      //Init tooltips
      tippy('.link',{
        placement: 'bottom'
      })
    
      //Toggle mode
      const toggle = document.querySelector('.js-change-theme');
      const body = document.querySelector('body');
      const profile = document.getElementById('profile');

      const about = document.getElementById('about');
      const experiencia = document.getElementById('experiencia');
      const educacion = document.getElementById('educacion');
      const habilidades = document.getElementById('habilidades');
      const intereses = document.getElementById('intereses');

      
      
      
      toggle.addEventListener('click', () => {
    
        if (body.classList.contains('text-gray-900')) {
        toggle.innerHTML = "☀️";
        body.classList.remove('text-gray-900');
        body.classList.add('text-gray-100');
        profile.classList.remove('bg-white');
        profile.classList.add('bg-gray-900');

        about.classList.remove('bg-white');
        about.classList.add('bg-gray-900');
        experiencia.classList.remove('bg-white');
        experiencia.classList.add('bg-gray-900');
        educacion.classList.remove('bg-white');
        educacion.classList.add('bg-gray-900');
        habilidades.classList.remove('bg-white');
        habilidades.classList.add('bg-gray-900');
        intereses.classList.remove('bg-white');
        intereses.classList.add('bg-gray-900');
        } else
        {
        toggle.innerHTML = "🌙";
        body.classList.remove('text-gray-100');
        body.classList.add('text-gray-900');
        profile.classList.remove('bg-gray-900');			
        profile.classList.add('bg-white');

        about.classList.remove('bg-gray-900');			
        about.classList.add('bg-white');
        experiencia.classList.remove('bg-gray-900');			
        experiencia.classList.add('bg-white');
        educacion.classList.remove('bg-gray-900');			
        educacion.classList.add('bg-white');
        habilidades.classList.remove('bg-gray-900');			
        habilidades.classList.add('bg-white');
        intereses.classList.remove('bg-gray-900');			
        intereses.classList.add('bg-white');
        
        }
      });
      
      </script>
</body>

</html>